@use '/styles/_mixins' as *;

.leafletMap {
  // xs
  width: 600px;

  @include sm {
    width: 280px;
    margin: 0;
  }

  @include md {
    width: 450px;
    margin: 0;
  }

  @include lg {
    width: 700px;
    margin: 0;
  }
}
