@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-primary: #6C7B30;
  --color-secondary: #98C285;
  --color-ternary: #016081;
  --color-fourth: #0092B8;
  --color-fifth: #73CCD8;
  --color-text: rgba(0, 0, 0, 0.87)
    /* --color-secondary: 111 114 185; */
}

/* Light mode styles */
body {
  background-color: rgb(240, 240, 240);
  color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(240, 240, 240);
    color: dark;
  }
}