@use '/styles/_mixins' as *;

.mySwiper {
  max-width: 100%;

  :global(.swiper-slide) {
    height: auto;
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-secondary);
  }

  :global(.swiper-button-next) {
    color: var(--color-secondary);
  }

  :global(.swiper-button-prev) {
    color: var(--color-secondary);
  }
}

.mySwiperCards {
  // xs
  width: 65vw;
  margin-left: 30px;
  margin-right: 60px;

  @include sm {
    width: 280px;
    margin: 0;
  }

  @include md {
    width: 450px;
    margin: 0;
  }

  @include lg {
    width: 700px;
    margin: 0;
  }

  :global(.swiper-slide) {
    background-color: var(--color-primary);
    border-radius: 8px;
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-secondary);
  }
}
